<div class="top-bar">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img
                    src="./assets/img/carousel-img-1.png"
                    class="d-block w-100"
                    alt="Carousel"
                />
            </div>
            <div class="carousel-item">
                <img
                    src="./assets/img/carousel-img-2.jpg"
                    class="d-block w-100"
                    alt="Carousel"
                />
            </div>
            <div class="carousel-item">
                <img
                    src="./assets/img/carousel-img-1.png"
                    class="d-block w-100"
                    alt="Carousel"
                />
            </div>
        </div>
        <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="header__inner">
        <!-- logo -->
        <div class="logo">
            <img
                src="./assets/icons/logo.svg"
                alt="GOODBOOKING"
                class="logo__img"
            />
        </div>

        <!-- Navbar -->
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item nav-item--active">
                    <a href="#!" class="nav__link">Lưu trú</a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav__link">Khuyến mãi</a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav__link">Địa điểm</a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav__link">Mẹo hữu ích</a>
                </li>
            </ul>
        </nav>
        <!-- Controls -->
        <div class="controls">
            <a href="#!" class="controls__sign-up">Đăng kí</a>
            <a href="#!" class="controls__sign-in">Đăng nhập</a>
        </div>
    </div>
</div>
