*, ::before, ::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    // font-size: 1.6rem;
    font-family: Inter, sans-serif;
}

a {
    text-decoration: none !important;
}

a, img, select, textarea, input, button {
    outline: none;
    border: none;
}

input, textarea {
    background: transparent;
    margin: 0;
}